body {
    margin: 0;
    background-color: #EEF1FF;
    font-family: 'Raleway', sans-serif;
}

#topbar {
    background-color: white;
    width: 100%;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#logo {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 900;
    color: #0086ff;
    font-size: 32px;
    margin-right: 16px;
}

#left-menu {
    display: flex;
    align-items: center;
}

#right-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu-item {
    font-weight: 600;
    margin-right: 16px;
    text-transform: capitalize;
}

#search-box {
    padding: .5rem 5rem;
    border: 1px solid #E0DECA;
    outline: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.material-symbols-outlined {
    position: relative;
    top: 3px;
    right: 2rem;
    cursor: pointer;
}

.profile-img {
    width: 70px;
    border-radius: 50%;
}

.notification-bell {
    width: 30px;
    height: 30px;
}